<div class="container">
  <div style="display: inline-block;">
	<table>
		<% @board_value.each do |row| %>
			<tr class="row">
				<% row.each do |col| %>
					<td class="col">
						<p id="id-<%=row%><%=col%>"> <%=col%> </p>
					</td>
				<% end %>
			</tr>
		<% end %>
	</table>
  </div>
 <!-- <div style="display: inline-block;">
	<table>
		<%# @board.each do |row| %>
			<tr class="row">
				<%# row.each do |col| %>
					<td class="col">
						<p id="id-<%#=row%><%#=col%>"> <%#=col%> </p>
					</td>
				<%# end %>
			</tr>
		<%# end %>
	</table>
  </div> -->
</div>

<style type="text/css">
	.container{
		width: 1000px;
		margin: 0 auto;
	}
	.row{

	}
	.col{
		padding: 10px;
		padding-right: 30px;
		border: 1px solid black;
	}

</style>
<script type="text/javascript"></script>